*{
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light Two', cursive;
}

body{
    background-image: url(../img/notebook-g72d5ffc5f_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

                    /*HEADER*/


header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

H1{
    font-family: 'Leckerli One', cursive;
}

.logo{
    height: 150px;
    width: auto;
}

.Titre{
    font-size: 70px;
    text-align: center;
    color: black;
    
}

                /*GAUCHE*/

nav ul li{
    list-style: none;
    
}

.lien-liste{
    text-decoration: none;
    font-size: 20px;
    color: rgb(96, 96, 96);
    font-weight: 600;
}

.lien-liste:hover{
    color: rgb(255, 128, 54);;
}

.barre-gauche{
    width: 20vw;
    height: 75vh;
    float: left;
    background-color: rgba(255, 226, 191, 0.641);
    border-radius: 10%;
    margin-left: 30px;
}

nav{
    height: 100%;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}

                    /*DROITE*/

.barre-droite{
    width: 70vw;
    float: right;
    margin-right: 30px;
    border-radius: 10%;
    background-color: rgba(251, 219, 219, 0.684);
    height: 75vh;
}

.ajout{
    display: flex;
    justify-content: center;
    gap:20px;
    height: 10%;
    align-items: center;
}

.ajout p{
    font-size: 20px;
    font-weight: 600;
}

                    /*COLONNES*/


.colonnes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.col-mil{
    border-left: 2px solid rgb(254, 180, 180);
    border-right: 2px solid rgb(254, 180, 180);
    height: 80%;
    width: 33%;
    
}

.col-gau,.col-droi{
    height: 80%;
    width: 33%;
    
}

.exemple1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    

}
.exemple1 a img{
    height: 35px;
    width: auto;
}

